tests/build/include/
tests/build/src/
tests/unit/tests/CMakeLists.txt

contexts/simple/include/
contexts/simple/src/ocf/
contexts/simple/sim

contexts/flashsim/include/
contexts/flashsim/src/ocf/
contexts/flashsim/sim
contexts/flashsim/cache-simssd
contexts/flashsim/core-simssd

*.o
