tests/build/include/
tests/build/src/
tests/unit/tests/CMakeLists.txt

contexts/ul-exp/include/
contexts/ul-exp/src/ocf/
contexts/ul-exp/bench
contexts/ul-exp/cache-simssd
contexts/ul-exp/core-simssd

*.o
